################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/temptest/temptest/bin/Debug/netstandard2.0
